 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
     font-family: 'Open Sans', Arial, sans-serif;
 }
/* 总文档 */
#main-doc {
    display: flex;
    position: relative;
}

/* 左侧边栏 */

 /* 左侧边栏固定 */


/* 右侧边栏 */
 .right-sidebar {
     width: 80%;
     margin-left: 20%;
 }

 .main-section{
    padding: 20px;
 }